* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Rubik", sans-serif;
}
:root {
  --color: #2e2d2d;
  --color-2: #656565;
  --color-3: #dc1d1d;
}
a {
  text-decoration: none;
  display: inline-block;
}
.form-control:focus {
  box-shadow: none;
  border-color: inherit;
}
.header-top-strip {
  background-color: var(--color);
  border: 1px solid var(--color-2);
}
.header-upper {
  background-color: var(--color);
}
.header-upper .input-group-text {
  background-color: var(--color-3);
}
.link-img {
  width: 35px;
  height: 35px;
  background-color: rgb(224, 235, 126);
  border-radius: 40%;
  margin-right: 5px;
}
.Link {
  text-decoration: none;
  color: rgb(255, 221, 0);
}
.gap-10 {
  gap: 10px;
}
.gap-15 {
  gap: 15px;
}
